body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: none; /* Remover o fundo direto */
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    /* overflow: hidden;*/   /* Impede o overflow do pseudo-elemento */
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20230527/pngtree-dark-gym-with-equipments-image_2675066.jpg') no-repeat center center/cover;
    filter: blur(3px); /* Ajuste o nível de desfoque aqui */
    z-index: -1; /* Coloca a imagem embaçada atrás de outros conteúdos */
}



.container {
    color: #f8f6f6;
    width: 500px;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgb(250, 250, 250);
    margin-top: 50px;
}

h1{
    text-align: center;
    color: #f8f6f6;
}


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #f8f7f7;
    border-radius: 4px;
}








button {
    position: relative;
    bottom: 0px; /* Alinha o botão 20px do fundo da tela */
    right: 0px; /* Alinha o botão 20px da borda direita da tela */
    left: 330px; /* Alinha o botão 20px da borda esquerda da tela */
    padding: 10px 20px;
    color: #FFF;
    font-size: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background: #2C0A0A; /* Fundo escuro */
    border: 2px solid #C0392B; /* Borda vermelha */
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6), /* Sombra interna */
                0 0 15px rgba(0, 0, 0, 0.6); /* Sombra externa */
    cursor: pointer;
    transition: all 0.3s ease;
}

button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent 50%, rgba(255, 255, 255, 0.1) 50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

button:hover:before {
    opacity: 1;
}

button:hover {
    background: #8B0000; /* Alteração na cor do fundo ao passar o mouse */
    color: #F5B041; /* Alteração da cor do texto ao passar o mouse */
    border-color: #F5B041; /* Alteração da cor da borda ao passar o mouse */
}











a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #236ebe;
}

a:hover {
    text-decoration: underline;
}
